<div
  class="text-center py-5 bg-image"
  style="
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    background-image: url(/public/img/<%=singleArticle.image%>);
  "
>
  <div>
    <h1 style="color: white"><%= singleArticle.title %></h1>
  </div>
  <div>
    <p style="color: white">
      <%="Creado por "+ singleArticle.user.firstname +" "+ singleArticle.user.lastname + " el " +
      format(new Date(String(singleArticle.createdAt)), " dd' de 'MMMM' , 'yyyy", {locale: es}) %>
    </p>
  </div>
</div>
