<div
  class="d-flex justify-content-center align-intems-center flex-column py-5 bg-image"
  style="
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/img/<%= article.image %>');
  "
>
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <h1 style="color: rgb(255, 255, 255)"><%= article.title %></h1>

      <p style="color: white; font-style: italic">
        Created by <%= article.user.fullname%> on <%= format(article.createdAt, "MMMM do' ,' yyyy", { locale: en }) %>.
      </p>
    </div>
  </div>
</div>
