<nav class="navbar bg-dark">
  <div class="container">
    <a style="color: white" href="/admin" class="navbar-brand">Hack the blog</a>
    <a href="/admin" class="btn btn-primary" role="button">Admin</a>
  </div>
</nav>
