<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% for(let i = 0; i < 10 ; i++){%>
   <h2><a href="<%=`${articleList[i].id}`%>"><%=articleList[i].title %></a></h2>
    <p><%= articleList[i].content %></p>
    <p>
      <%="Creado por "+ articleList[i].user.firstname +" "+ articleList[i].user.lastname + " el " +
      format(new Date(String(articleList[i].createdAt)), "dd' de 'MMMM', 'yyyy", {locale: es}) %>
    </p>
    <% } %>
  </body>
</html>
